{% include "header.html" %}
<div class="container">
    <h1>Calculater</h1>
</div>
<div class="form-container">
    <div class="row">
        <div class="col-12">
            <form method="post" action="">
                {% csrf_token %}
                <label>value 1: </label>
                <input type="text" name="num1" value="{{n1}}" class="form-group"></input>
                <label>operator</label>
                
                <select name="operator" class="form-group">
                    <option value="+">+</option>
                    <option value="-">-</option>
                    <option value="*">*</option>
                    <option value="/">/</option>
                </select>
                <label>value 2: </label>
                <input type="text" name="num2" value="{{n2}}" class="form-group"></input>
                <button type="submit">calculator</button>
                <label>output</label>
                <input type="text" name="calculater" value='{{c}}'/>

            </form>
        </div>
    </div>
</div>
</html>